@font-face {
	font-family: 'Eco';
	src: url('fonts/Exo2.0-Thin.otf') format('opentype');
	font-weight: thin;
}

@font-face {
	font-family: 'Trebuchet MS';
	src: url('fonts/trebuc.woff');
	font-weight: regular;
}

@font-face {
	font-family: 'Trebuchet MS';
	src: url('fonts/trebuchet-ms-bold.ttf');
	font-weight: bold;
}

html {
	font-size: 16px;
}

body {
	margin: 0;
	min-height: 100vh;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 50%), transparent,rgba(0, 0, 0, 50%)), url('images/background.png');
	width: 100%;
	min-height: 600px;
}

p {
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0;
}

h2 {
	margin: 0;
}

h1.intro-header {
	font-family: 'Eco';
	font-weight: thin;
	color: white;
	text-align: center;
	margin-bottom: 2.03125%; /* 26px */
	font-size: 2.25rem;
}

.card {
	/*margin: 0 3.125% 2.03125% 3.125%;*/
	width: 320px;
}

.card-main {
	position: relative;
	width: 100%; /*320px*/
	height: 480px;
	background-color: transparent;
	box-sizing: border-box;
	padding: 6.25% 18.75% 0 14.0625%; /*20px 60px 0 45px*/
	background-position: left 0 bottom 0; /*-24px -90px*/
	background-repeat: no-repeat;
	background-size: contain; /*370px wide*/
	font-size: 16px;
	user-select: none;
	cursor: pointer;
}

.card-main-default {
	background-image: url('images/cat_default.png');
}

.card-main-hover {
	background-image: url('images/cat_default_hover.png');
}

.card-main-selected {
	background-image: url("images/cat_selected.png");
}

.card-main-hover-selected {
	background-image: url('images/cat_selected_hover.png');
}

.card-main-disabled {
	background-image: url(images/cat_disabled.png);
}

.text-disabled > * {
	color: #d4d4d4!important;
}

.card > * {
	font-family: 'Trebuchet MS';
	color: #666666;
}

.card-comment {
	position: relative;
	text-align: center;
	color: white;
	margin-top: 5%;
	font-size: 13px; /*13 px*/
}

.card-comment a {
	cursor: pointer;
}

.y-highlighted {
	color: #ffff66;
}

.p-highlighted {
	color: #e62e7a;
}


.card-main h1 {
	color: black;
	margin-top: 5.3125%;
	margin-bottom: 1.25%;
	font-weight: bold;
	font-size: 3rem;
}

.card-main h2 {
	color: black;
	margin-bottom: 5.3125%;
	font-weight: bold;
	font-size: 1.5rem;
}

.card-main p {
	font-weight: regular;
	font-size: 0.875rem;
}

.common-text {
	font-size: 1rem;
}

a.dotted {
	color: #1698d9;
	text-decoration: underline dashed;
}

.weight {
	position: absolute;
	border-radius: 50%;
	color: white;
	text-align: center;
	width: 25%;
	height: 16.66666%;
	right: 4.6875%;
	bottom: 3.125%;
}

.weight-default {
	background-color: #1698d9;
}

.weight-default-hover {
	background-color: #2ea8e6;
}

.weight-selected {
	background-color: #d91667;
}

.weight-selected-hover {
	background-color: #e62e7a;
}

.weight-disabled {
	background-color: #b3b3b3;
	color: white!important;
}

.weight-value {
	font-size: 2.625rem; /* 42px*/
	margin-top: 12.5%;
}

.weight-units {
	font-size: 1.3125rem; /*21px*/
	line-height: 16px;
}

.wrapper {
	width: 100%;
	height: max-content;
	margin: auto;
}

.wrp {
	display: flex;
	width: 100%;
	height: 100%;
	min-height: 100vh;
}

#app {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.break {
	flex-basis: 100%;
	height: 0;
}

.no-select {
	-webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media screen and (max-width: 400px) {
	html {
		font-size: 3.7vw;
	}
	.card {
		width: 70%;
		margin-bottom: 20px;
		height: 400px;
	}
	.card-main {
		height: 110vw;
		width: 100%;
		background-size: 100% 100%;
	}

	.weight-value {
		line-height: 100%;
	}
}

@media screen and (min-width: 400px) {
	.card {
		margin: 0 3.125% 2.03125% 3.125%;
	}
	.weight-value {
		line-height: 42px;
	}
}

